<% content_for :body_id, "campaign-setup" %>

<!-- Profiles Menu -->
<section id="profile-nav">
  <div id="profile-tabs">
    <div class="container">
      <ul>
        <li><a href="/en/profiles/1">Profile</a></li>
        <li class="active"><a href="/en/donors">Donor</a></li>
        <li><a href="Campaign-owner_view_tab.html">Campaign Owner</a></li>
        <li><a href="/student_cofunders/1">Student Co-Founder</a></li>
        <li><a href="/sponsors/1">Sponsor</a></li>
      </ul>
    </div>
  </div>
  <div id="profile-info">
    <div class="container">
      <%= image_tag 'pictures/profile-photo.jpg' %>
      <dl>
        <dt>William Hauver</dt>
        <dd>
          <div class="vote">
            <strong>Validation Rating:</strong>

            <div class="stars"></div>
          </div>
        </dd>
      </dl>
    </div>
  </div>
</section>

<!-- Page -->
<section id="page">
  <div class="container">
    <div class="row">

      <div id="donor-view" class="span12">

        <h2>Campaigns I have Donated to</h2>

        <table>
          <thdead>
            <tr>
              <th>Date</th>
              <th>Campaign</th>
              <th>Amount</th>
              <th>Perk</th>
              <th>Social Campaign Credit</th>
              <th>Visibility</th>
            </tr>
          </thdead>
          <tbody>
          <tr>
            <td>Sun Oct 07'12</td>
            <td>
              <%= image_tag 'pictures/recent-1.jpg' %>
              <strong>High Bar</strong>

              <div class="vote">
                <strong>Validation Rating:</strong>

                <div class="stars"></div>
              </div>
            </td>
            <td>$5</td>
            <td>
              Level 1 Coupons
              <big><strong>Value $85</strong></big>
            </td>
            <td>5 Points</td>
            <td>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-a1">
                <label for="type-a1">Name & Amount</label>
              </fieldset>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-a2">
                <label for="type-a2">Name Only</label>
              </fieldset>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-a3">
                <label for="type-a3">Anonymous</label>
              </fieldset>
            </td>
          </tr>
          </tbody>
        </table>

        <table>
          <thdead>
            <tr>
              <th>Date</th>
              <th>Campaign</th>
              <th>Amount</th>
              <th>Perk</th>
              <th>Social Campaign Credit</th>
              <th>Visibility</th>
            </tr>
          </thdead>
          <tbody>
          <tr>
            <td>Sun Oct 07'12</td>
            <td>
              <%= image_tag 'pictures/recent-1.jpg' %>

              <strong>High Bar</strong>

              <div class="vote">
                <strong>Validation Rating:</strong>

                <div class="stars"></div>
              </div>
            </td>
            <td>$5</td>
            <td>
              Level 1 Coupons
              <big><strong>Value $85</strong></big>
            </td>
            <td>5 Points</td>
            <td>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-b1">
                <label for="type-b1">Name & Amount</label>
              </fieldset>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-b2">
                <label for="type-b2">Name Only</label>
              </fieldset>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-b3">
                <label for="type-b3">Anonymous</label>
              </fieldset>
            </td>
          </tr>
          </tbody>
        </table>

        <table>
          <thdead>
            <tr>
              <th>Date</th>
              <th>Campaign</th>
              <th>Amount</th>
              <th>Perk</th>
              <th>Social Campaign Credit</th>
              <th>Visibility</th>
            </tr>
          </thdead>
          <tbody>
          <tr>
            <td>Sun Oct 07'12</td>
            <td>
              <%= image_tag 'pictures/recent-1.jpg' %>

              <strong>High Bar</strong>

              <div class="vote">
                <strong>Validation Rating:</strong>

                <div class="stars"></div>
              </div>
            </td>
            <td>$5</td>
            <td>
              Level 1 Coupons
              <big><strong>Value $85</strong></big>
            </td>
            <td>5 Points</td>
            <td>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-c1">
                <label for="type-c1">Name & Amount</label>
              </fieldset>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-c2">
                <label for="type-c2">Name Only</label>
              </fieldset>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-c3">
                <label for="type-c3">Anonymous</label>
              </fieldset>
            </td>
          </tr>
          </tbody>
        </table>

        <table>
          <thdead>
            <tr>
              <th>Date</th>
              <th>Campaign</th>
              <th>Amount</th>
              <th>Perk</th>
              <th>Social Campaign Credit</th>
              <th>Visibility</th>
            </tr>
          </thdead>
          <tbody>
          <tr>
            <td>Sun Oct 07'12</td>
            <td>
              <%= image_tag 'pictures/recent-1.jpg' %>

              <strong>High Bar</strong>

              <div class="vote">
                <strong>Validation Rating:</strong>

                <div class="stars"></div>
              </div>
            </td>
            <td>$5</td>
            <td>
              Level 1 Coupons
              <big><strong>Value $85</strong></big>
            </td>
            <td>5 Points</td>
            <td>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-d1">
                <label for="type-d1">Name & Amount</label>
              </fieldset>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-d2">
                <label for="type-d2">Name Only</label>
              </fieldset>
              <fieldset class="custom-radio">
                <input type="radio" name="visibility" id="type-d3">
                <label for="type-d3">Anonymous</label>
              </fieldset>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</section><!-- #page -->
