<%= content_for :body_id, 'cofunder' %>

<!-- Page -->
<section id="page">
<div class="container">
<div class="row">
<section id="content" class="span8">

  <section id="sponsor-profile">
    <div class="photo">
      <%= image_tag('pictures/campbells-sponsor.jpg') %>
    </div>
    <div class="sponsor-info">
      <h1>Campbelle's</h1>

      <h2>Campbell Soup Company is a global manufacturer and marketer of high-quality foods and simple meals, including
        soups and sauces, baked snacks, and healthy beverages.</h2>
      <address>210 North 1200 East, Suite 101, Lehi, UT 84043</address>
      <ul class="bio">
        <li>
          <strong>Website:</strong> www.campbellsoup.com
        </li>
        <li>
          <strong>Email:</strong> Info@campbellsoup.com
        </li>
        <li>
          <strong>Facebook:</strong> www.facebook.com/campbellesoup
        </li>
        <li>
          <strong>Twitter:</strong> www.twitter.com/campbellesoup
        </li>
      </ul>
    </div>
    <div id="all-projects">
      <h2>Campaign Dashboard</h2>
      <ul>
        <li><a href="#">Current Campaigns</a></li>

        <li><%= image_tag('pictures/recent-1.jpg') %><span>Enim</span></li>
        <li><%= image_tag('pictures/recent-2.jpg') %><span>Enim</span></li>
        <li><%= image_tag('pictures/recent-1.jpg') %><span>Enim</span></li>
        <li><%= image_tag('pictures/recent-2.jpg') %><span>Enim</span></li>
        <li class="more"><a href="#">more &raquo;</a></li>
      </ul>
      <ul>
        <li><a href="#">Past Campaigns</a></li>
        <li><%= image_tag('pictures/recent-1.jpg') %><span>Enim</span></li>
        <li><%= image_tag('pictures/recent-2.jpg') %><span>Enim</span></li>
        <li><%= image_tag('pictures/recent-1.jpg') %><span>Enim</span></li>
        <li><%= image_tag('pictures/recent-2.jpg') %><span>Enim</span></li>
        <li class="more"><a href="#">more &raquo;</a></li>
      </ul>
    </div>
    <div class="user-rate">
      <strong>Corporate Cause Rating:</strong>

      <div class="stars" data-score="3"></div>
    </div>
  </section>

  <section class="txt">
    <h2>Company Story</h2>

    <h3>Mission</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum tempus lorem, at aliquet tellus
      mattis non. Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et
      vehicula felis rhoncus at. Nullam sed tellus orci. Quisque consectetur euismod nisl sit amet fringilla. Aliquam
      commodo gravida consectetur. Sed adipiscing, justo a interdum posuere, sem lacus venenatis justo, quis sagittis
      ligula tellus sed nunc.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum tempus lorem, at aliquet tellus
      mattis non. Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et
      vehicula felis rhoncus at. Nullam sed tellus orci. Quisque consectetur euismod nisl sit amet fringilla. Aliquam
      commodo gravida consectetur. Sed adipiscing, justo a interdum posuere, sem lacus venenatis justo, quis sagittis
      ligula tellus sed nunc.</p>

    <h3>Community Involvement</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum tempus lorem, at aliquet tellus
      mattis non. Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et
      vehicula felis rhoncus at.</p>

    <h3>Community Impact</h3>

    <p>Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula felis
      rhoncus at. Nullam sed tellus orci. Quisque consectetur euismod nisl sit amet fringilla. Aliquam commodo gravida
      consectetur. Sed adipiscing, justo a interdum posuere, sem lacus venenatis justo, quis sagittis ligula tellus sed
      nunc.</p>
  </section>

  <section class="txt" id="sponsor-stats">
    <h2>Current Matching Sponsorship</h2>

    <div class="sponsorship-item">
      <%= image_tag('pictures/high-bar.jpg') %>
      <ul class="stats">
        <li class="contributors">
          <strong>15</strong>

          <div class="progress progress-danger">
            <div style="width: 80%" class="bar"></div>
          </div>
          <small>Contributors needed to next match</small>
        </li>
        <li class="progress">
          <div class="progress progress-danger">
            <div style="width: 80%" class="bar"></div>
          </div>
          <ul>
            <li><strong>50%</strong> funded</li>
            <li><strong>$50,000</strong> raised</li>
            <li><strong>48</strong> days left</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sponsorship-item">
      <%= image_tag('pictures/high-bar.jpg') %>
      <ul class="stats">
        <li class="contributors">
          <strong>15</strong>

          <div class="progress progress-danger">
            <div style="width: 80%" class="bar"></div>
          </div>
          <small>Contributors needed to next match</small>
        </li>
        <li class="progress">
          <div class="progress progress-danger">
            <div style="width: 80%" class="bar"></div>
          </div>
          <ul>
            <li><strong>50%</strong> funded</li>
            <li><strong>$50,000</strong> raised</li>
            <li><strong>48</strong> days left</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sponsorship-item">
      <%= image_tag('pictures/high-bar.jpg') %>
      <ul class="stats">
        <li class="contributors">
          <strong>15</strong>

          <div class="progress progress-danger">
            <div style="width: 80%" class="bar"></div>
          </div>
          <small>Contributors needed to next match</small>
        </li>
        <li class="progress">
          <div class="progress progress-danger">
            <div style="width: 80%" class="bar"></div>
          </div>
          <ul>
            <li><strong>50%</strong> funded</li>
            <li><strong>$50,000</strong> raised</li>
            <li><strong>48</strong> days left</li>
          </ul>
        </li>
      </ul>
    </div>
    <br>

    <h2>How much total donations</h2>

    <div id="sponsor-coupons">
      <h3>Coupons</h3>
      <strong>2,000</strong>
      <em>Total raised on coupon</em>
    </div>
    <div id="sponsor-donations">
      <h3>Matching Donations</h3>

      <div class="box">
        <div class="inner">
          <div class="col">
            <ul>
              <li><%= image_tag('pictures/recent-1.jpg') %><span>Enim</span></li>
              <li><%= image_tag('pictures/recent-2.jpg') %><span>Enim</span></li>
              <li><%= image_tag('pictures/recent-1.jpg') %><span>Enim</span></li>
              <li><%= image_tag('pictures/recent-2.jpg') %><span>Enim</span></li>
            </ul>
          </div>
          <div class="col">
            <h3>$20,447</h3>

            <div class="progress progress-info">
              <div style="width: 48%" class="bar"></div>
            </div>
            <em>Raised of $50,000 Goal</em>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

<aside class="span4 user-sidebar">

  <h2 class="section-title-big">How much total donation</h2>

  <div class="aside-box" id="total-raised">
    <strong>$20,447</strong>
  </div>
  <h2 class="section-title-big">Story of community and cause advertisement:</h2>

  <div class="aside-box" id="fund-activities">
    <iframe src="http://player.vimeo.com/video/47218763?title=0&amp;portrait=0&amp;badge=0" width="272" height="195" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <h4>Condimentum Tempus</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum tempus lorem, at aliquet tellus
      mattis non.</p>
  </div>

  <div id="recommendations">
    <h2>Blog</h2>
    <dl>
      <dt><%= image_tag('pictures/blog-1.jpg') %></dt>
      <dd>
        <h4>Vestibulum Aliquet</h4>

        <p>Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula
          felis rhoncus.</p>

        <p>Nullam sed tellus orci. Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim
          suscipit purus, et vehicula felis <a href="#">Read More &raquo;</a></p>
      </dd>
    </dl>
    <dl>
      <dt><%= image_tag('pictures/blog-2.jpg') %></dt>
      <dd>
        <h4>Semper Bibendum</h4>

        <p>Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula
          felis rhoncus at <a href="#">Read More &raquo;</a></p>
      </dd>
    </dl>
    <dl>
      <dt><%= image_tag('pictures/blog-3.jpg') %></dt>
      <dd>
        <h4>Habitasse Platea</h4>

        <p>Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula
          felis rhoncus at <a href="#">Read More &raquo;</a></p>
      </dd>
    </dl>
    <dl>
      <dt><%= image_tag('pictures/blog-4.jpg') %></dt>
      <dd>
        <h4>Donec Tempor</h4>

        <p>Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, vehicula
          rhoncus <a href="#">Read More &raquo;</a></p>
      </dd>
    </dl>
  </div>
</aside>

</div>
</div>
</section><!-- #page -->


