<% content_for :body_id, "campaign-setup" %>

<div class="container"><h2 class="sub-title">CAMPAIGN ID: <span>08770778786</span></h2></div>

<!-- Page Profile -->
<section id="page-profile">
  <div class="container">
    <div class="row">
      <div class="span8" id="summary">
        <dl>
          <dt><%= image_tag "pictures/kid.jpg" %></dt>
          <dd>
            <h4>Your contribution summary</h4>

            <div class="col">
              <div>
                <strong>Help Alphonse Get His Suregery</strong>

                <p>Alphonse De Leon was borh with Tetralogy of Fallot. Help him get an open heart surgery
                  in &hellip;</p>
              </div>
            </div>
            <div class="col">
              <ul>
                <li><strong>Your Comtribution:</strong> $50</li>
                <li><strong>Your Perk:</strong> level 1 coupon book</li>
                <li><strong>Payment Method:</strong></li>
              </ul>
            </div>
          </dd>
        </dl>
      </div>
      <div class="span3 offset1">
        <ul class="account-details">
          <li><strong>Student Co-Founder:</strong></li>
          <li class="list-heading">
            <%= image_tag "pictures/college.jpg " %>
            <%= image_tag "pictures/a-small.jpg" %>
            <strong>Warren Etheredge</strong><br>
            <em>Ramapo College</em>
          </li>
          <li><strong>Location:</strong> Seattle, Washington, United States</li>
          <li><strong>Major:</strong> Computer Science</li>
          <li><strong>Recommended:</strong> Warren Buffet</li>
          <li><a href="#">See More &raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</section><!-- #page-profile -->

<div id="form-steps" class="standalone">
  <div class="container">
    <ul>
      <li class="c1 active"><a href="coupon_purchase_page.html"><span>1</span>Contribute</a></li>
      <li class="c2"><a href="step_2_confirm_and_pay.html"><span>2</span>Pay</a></li>
      <li class="c3"><a href="donate_coupon_share.html"><span>3</span>Share</a></li>
    </ul>
  </div>
</div>

<!-- Page -->
<section id="page">
  <div class="container">
    <br>

    <h2 class="sub-title">Choose which donation reward level would you like?</h2>

    <div class="box-container profile-edit matching-summary choose-perk">
      <div class="box">
        <div id="no-reward-amount" class="pull-right">
          <label for="goal" class="usd-sign">&nbsp;</label>
          <input type="text" id="goal" name="goal">
        </div>
        <fieldset class="custom-radio">
          <input type="radio" name="deadline" id="no-coupons">
          <label for="no-coupons">
            <strong>I just want to contribute - no rewards or coupons</strong>
            <br><em>After you made your contribution, you can shoose whether or not it's shown as anonymous on the
            campaign page</em>
          </label>

        </fieldset>
        <br>
        <fieldset class="custom-radio">
          <input type="radio" name="deadline" id="level-1">
          <label for="level-1">$50+ <strong>Level 1 Coupon book</strong> ($55 value)</label>
        </fieldset>
        <ul class="perks">
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
        </ul>
        <br>
        <fieldset class="custom-radio">
          <input type="radio" name="deadline" id="level-2">
          <label for="level-2">$100+ <strong>Level 2 Coupon book</strong> ($105 value)</label>
        </fieldset>
        <ul class="perks">
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
          <li><a href="#"><%= image_tag 'pictures/perk.jpg' %> buy one get one free</a></li>
        </ul>
      </div>
    </div>

    <div class="bottom-line-buttons">
      <a href="step_2_confirm_and_pay.html" class="btn-large pull-right">Continue</a>
    </div>
  </div>
</section><!-- #page -->
