<% content_for :body_id, "campaign" %>
<!-- Page Profile -->
<section id="page-profile">
  <div class="container">
    <div class="row">
      <div class="span9" id="item-details">
        <%= image_tag('pictures/thumbnail.jpg', :class => 'thumbnail', :alt => 'Fueno') %>

        <h1><a href="#">The High Bar: On the Rocks & Straight up</a></h1>

        <p>The High Bar (http://thehighbar.tv) is on the rocks. After 3 seasons, 70+ episodes & no funding whatsoever,
          we need YOU to ensure we shoot Season 4.</p>
      </div>
      <div class="span3">
        <ul class="account-details">
          <li><strong>Student Co-Funder:</strong></li>
          <li class="list-heading">
            <%= image_tag('pictures/college.jpg') %>
            <%= image_tag('pictures/a-small.jpg') %>
            <strong>Warren Etheredge</strong><br>
            <em>Ramapo College</em>
          </li>
          <li><strong>Location:</strong> Seattle, Washington, United States</li>
          <li><strong>Major:</strong> Computer Science</li>
          <li><strong>Recommended:</strong> Warren Buffet</li>
          <li><a href="#">See More &raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</section><!-- #page-profile -->

<!-- Page -->
<section id="page">

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">Home</a></li>
  <li><a href="#tab2" data-toggle="tab">Updates</a></li>
  <li><a href="#tab3" data-toggle="tab">Comments</a></li>
  <li><a href="#tab4" data-toggle="tab">Sponsors</a></li>
  <li><a href="#tab5" data-toggle="tab">Funders</a></li>
  <li><a href="#tab6" data-toggle="tab">Co-Funder</a></li>
</ul>

<div class="container">
<div class="row">


<!-- Central Content -->
<article class="span6 offset3" id="main-content">
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">

      <iframe src="http://player.vimeo.com/video/47218763?title=0&amp;portrait=0&amp;badge=0" id="video-presentation" width="460" height="346" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      <div id="rate">
        <div class="vote">
          <strong>Validation Rating:</strong>

          <div class="stars" data-score="4"></div>
          <span>(14 ratings)</span>
        </div>
        <a href="#" class="btn-middle">Vouch For This Cause</a>
      </div>

      <div class="box" id="share">
        <div class="inner">
          <a href="#" id="add-to-favorites" class="pull-right">Add to Favorites</a>

          <form id="share-form">
            <strong>Share This Campaign:</strong>
            <input type="text" value="">
          </form>
          <div class="social-share">
            <a href="#" class="btn-mini">E-mail</a>
            <a href="#" class="btn-mini">Embed</a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="inner">
          <h2>The High Bar: On the Rocks &amp; Straight up</h2>

          <p>Feriorem quat verovit ium et vellorem sera dusci odit viducieni officiendis doluptat laccum adit essimpori
            dempele scimagnam, officitate odis sollorem laborem vidi optatis et laborum volorerest ad eos alictem est,
            ut ad et estrum ut as mi, seque laborem quamustin esci aruptatiis duntio volesequam, sedi dolorum qui
            dolescilit et, ipiscil luptate velisti ossitae netur a accatent dicimust il ipsae aut alicae nobit inusdaes
            quatur ra nonseque aci blabo. Et eaque ipsam, occaerciam quissit lab imus nonserum volorum quidebis es
            nisquis am dolendi testibust, sit asit faccus que et provide litatius iunt voluptatust dicto exerferciis
            eatemol oriberr oviditatium ut lat veri conseque commolorere lant abo. Nis sequas maiorei untiunt dolorisque
            porem quos et offic te est, volupture pe porestibus doluptas sinti dolupit qui dolorep udandit atiam, ommolo
            cum ratempo rectate reptatatur mossunt esequatum id ut litatinis andipis dolore vernate.</p>
        </div>
      </div>

      <div class="box" id="team">
        <div class="inner">
          <ul class="account-details">
            <li><strong>Student Co-Funder:</strong></li>
            <li class="list-heading">
              <%= image_tag('pictures/avatar-1.jpg') %>
              <strong>Warren Etheredge</strong><br>
              <em>Host. Co-Executive Producer</em>
            </li>
            <li><strong>College:</strong> Ramapo College</li>
            <li><strong>Major:</strong> Computer Science</li>
          </ul>
          <%= image_tag('pictures/college-large.jpg') %>
        </div>
      </div>

    </div>
    <div class="tab-pane" id="tab2">
      Tab #2
    </div>
    <div class="tab-pane" id="tab3">
      Tab #3
    </div>
    <div class="tab-pane" id="tab4">
      Tab #4
    </div>
    <div class="tab-pane" id="tab5">
      Tab #5
    </div>
    <div class="tab-pane" id="tab6">
      Tab #6
    </div>
  </div>
</article>
<!-- end Central Content -->


<!-- Left + Right Sidebars -->
<div id="sidebars">

  <!-- Left Sidebar -->
  <aside class="span3">
    <h2 class="section-title">Matching Sponsors</h2>

    <a href="#notLoggedIn" data-toggle="modal" role="button" class="add-item">
      <h4>Sponsor This Campaign</h4>
      This Campaign welcomes more sponsors. <u>Click Here</u>
    </a>

    <article class="item item-mini">
      <header>
        <%= image_tag('pictures/dell.png', :alt => 'DELL') %> <strong>Dell Computers, inc.</strong><br>
        match amount: <strong>$500</strong>
      </header>
      <div class="rating">
        <strong>Corporate Cause Rating:</strong>

        <div class="stars" data-score="5"></div>
        <span>(Humanitarian)</span>
      </div>
      <footer>
        <strong>15</strong>

        <div class="progress progress-danger">
          <div class="bar" style="width: 80%"></div>
        </div>
        <small>Contributors needed to next match</small>
      </footer>
    </article>

    <article class="item item-mini">
      <header>
        <%= image_tag('pictures/campbells.png', :alt => 'CAMPBELLS') %> <strong>Campbells</strong><br>
        match amount: <strong>$500</strong>
      </header>
      <div class="rating">
        <strong>Corporate Cause Rating:</strong>

        <div class="stars" data-score="3"></div>
        <span>(Philanthroper)</span>
      </div>
      <footer>
        <strong>15</strong>

        <div class="progress progress-danger">
          <div class="bar" style="width: 80%"></div>
        </div>
        <small>Contributors needed to next match</small>
      </footer>
    </article>

    <article class="item item-mini">
      <header>
        <%= image_tag('pictures/ebay.png', :alt => 'EBAY') %> <strong>Ebay</strong><br>
        match amount: <strong>$500</strong>
      </header>
      <div class="rating">
        <strong>Corporate Cause Rating:</strong>

        <div class="stars" data-score="4"></div>
        <span>(Benefactor)</span>
      </div>
      <footer>
        <strong>15</strong>

        <div class="progress progress-danger">
          <div class="bar" style="width: 80%"></div>
        </div>
        <small>Contributors needed to next match</small>
      </footer>
    </article>

    <article class="item item-mini">
      <header>
        <%= image_tag('pictures/best-buy.png', :alt => 'BESTBUY') %> <strong>Best Buy</strong><br>
        match amount: <strong>$500</strong>
      </header>
      <div class="rating">
        <strong>Corporate Cause Rating:</strong>

        <div class="stars" data-score="2"></div>
        <span>(Angel)</span>
      </div>
      <footer>
        <strong>15</strong>

        <div class="progress progress-danger">
          <div class="bar" style="width: 80%"></div>
        </div>
        <small>Contributors needed to next match</small>
      </footer>
    </article>

  </aside>
  <!-- end Left Sidebar -->

  <!-- Right Sidebar -->
  <aside class="span3 offset6">
    <h2 class="section-title">Campaign Progress</h2>

    <div id="statistics">
      <div class="counters">
        <strong class="count-1"><span>10</span> Sponsors</strong>
        <strong class="count-2"><span>75</span> Contributors</strong>
        <strong class="count-3">$20,447</strong>

        <div class="progress progress-info">
          <div class="bar" style="width: 20%"></div>
        </div>
        <em class="goal">Raised of $50,000 Goal</em>

        <div class="countdown">5 <em>days left</em></div>
      </div>
      <div class="info">
        <h4>Flexible Funding campaign</h4>
        This campaign will receive all of the funds contributed by Thu Oct 18 at 11:59PM PT.
      </div>
      <div class="submit">
        <a href="/donors/1/contributions/1/level" class="btn-large">Contribute Now</a>
      </div>
    </div>

    <h2 class="fancy-title">Coupons &amp; Rewards</h2>

    <div id="coupons">

      <a href="#notLoggedIn" data-toggle="modal" role="button" class="add-item">
        <h4>Sponsor This Campaign</h4>
        This Campaign welcomes more sponsors. <u>Click Here</u>
      </a>

      <dl>
        <dt>
        <h3>
          <span class="plus"></span><strong>$5</strong>

          <div>Thank You Note</div>
        </h3>
        </dt>
        <dd>
          <p>Thanks for helping this campaign</p>
          <a class="btn-middle" href="#myModal" role="button" data-toggle="modal">Claim These Coupons</a>
        </dd>
      </dl>
      <dl>
        <dt>
        <h3>
          <span class="plus"></span><strong>Pledge $13 or more</strong>

          <div>Level 1 Coupons</div>
        </h3>
        </dt>
        <dd>
          <p>Mcdonalds, Burger King., Target Apple Store, Walmart, Bob’s Jewelry Joes Crab Shack and more&hellip;</p>
          <a class="btn-middle" href="#myModal" role="button" data-toggle="modal">Claim These Coupons</a>
        </dd>
      </dl>
      <dl>
        <dt>
        <h3>
          <span class="plus"></span><strong>Pledge $25 or more</strong>

          <div>Level 2 Coupons</div>
        </h3>
        </dt>
        <dd>
          <p>Mcdonalds, Burger King., Target Apple Store, Walmart, Bob’s Jewelry Joes Crab Shack and more&hellip;</p>
          <a class="btn-middle" href="#myModal" role="button" data-toggle="modal">Claim These Coupons</a>
        </dd>
      </dl>
    </div>

  </aside>
  <!-- end Right Sidebar -->

</div>

</div>
</div>
</section><!-- #page -->
