<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Fueno</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag "application-all", :media => "all" %>
  <!--[if IE 7]>
  <%= stylesheet_link_tag "application-ie7", :media => "all" %>
  <![endif]-->
  <!--[if IE 8]>
  <%= stylesheet_link_tag "application-ie8", :media => "all" %>
  <![endif]-->

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="<%= yield :body_id %>">
<header id="header">
  <div class="container">
    <a href="homepage.html" id="logo"><%= image_tag('logo.png', :alt => 'Fueno') %></a>
    <nav id="main-navigation">
      <ul>
        <li><a href="mission.html">What is <br>FUENO?</a></li>
        <li><a href="/campaigners/1/campaigns/1/start">Start <span>new campaign</span></a></li>
        <li><a href="/campaign_searches/new">Sponsor <span>a great cause</span></a></li>
        <li><a href="#">Co-Fund <span>your education</span></a></li>
      </ul>
    </nav>
    <aside>
      <nav>
        <ul>
          <li class="pull-down">
            <a href="#">Username <b class="caret"></b></a>
            <ul>
              <li><strong>My Account</strong></li>
              <li><a href="/en/profiles/1">My Profile</a></li>
              <li><a href="/en/profiles/1/edit">Edit Settings</a></li>
              <li><a href="/en/donors">My Donations</a></li>
              <li><a href="/cause_owners/1">My Causes</a></li>
              <li><a href="sponsor_page.html">My Sponsorship</a></li>
              <li><a href="/student_cofunders/1">Student CoFunder</a></li>
              <li class="logout-link"><a href="homepage.html">Log Out</a></li>
            </ul>
          </li>
          <li><a href="#">Me</a></li>
        </ul>
      </nav>
    </aside>
  </div>
  <nav id="action-navigation">
    <div class="container">
      <form action="#" id="search-form">
        <input type="text" placeholder="Search&hellip;" name="query" id="query">
      </form>
      <ul>
        <li><a href="#"><strong>Vouch</strong> for a cause</a></li>
        <li><a href="#">Recommend a Student <strong>Co-Funder</strong></a></li>
        <li><a href="#">Become a <strong>Sponsor</strong></a></li>
        <li><a href="fueno-university.html"><strong>Fueno</strong> University</a></li>
      </ul>
    </div>
  </nav>
</header>
<!-- #header -->

<%= yield %>

<!-- Footer -->
<footer id="footer">
	<div class="container">
        <section>
        	<div>
                <div id="copyright">&copy; 2012 Copyright Fueno. <br>All Rights Reserved</div>
                <nav>
                    <ul>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Distribution</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section>
        	<div>
                <nav>
                    <ul>
                        <li><a href="#">Learn More</a></li>
                        <li><a href="#">Why Fueno?</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Non-Profits</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section>
        	<div>
                <nav>
                    <ul>
                        <li><a href="#">Customer Happiness</a></li>
                        <li><a href="#">Crowdfunding Tips</a></li>
                        <li><a href="#">Contribution Basics</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section>
        	<div>
                <nav id="connect">
                    <h3>Connect With Fueno</h3>
                    <ul>
                        <li><a href="#"><%= image_tag('i-facebook.png') %></a></li>
                        <li><a href="#"><%= image_tag('i-twitter.png') %></a></li>
                        <li><a href="#"><%= image_tag('i-rss.png') %></a></li>
                        <li><a href="#"><%= image_tag('i-youtube.png') %></a></li>
                    </ul>
                </nav>
                <form action="#" id="subscribe-form">
                    <h3>Sign up for Fueno News</h3>
                    <input type="text" placeholder="Enter Your E-mail&hellip;" name="query" id="query">
                </form>
            </div>
        </section>
    </div>
</footer><!-- #footer -->

</body>
</html>
